<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/timer.png` | relURL }}" width="150" height="150" alt="Bootstrap">
    </svg>
        <h2 class="h2">Pomodoro Technique Timer <small class="d-none">🛡️</small></h2>
        <p>Stay laser-focused with our Pomodoro timer, effortlessly breaking your work into manageable intervals for maximum productivity.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/priority.webp` | relURL }}" width="150" height="150" alt="Bootstrap">
    </svg>
        <h2 class="h2">Priority Task List<small class="d-none">🚀</small></h2>
        <p> Conquer your to-do list with ease; prioritize tasks, set deadlines, and never miss a beat with our intuitive task management system.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/productivity.png` | relURL }}" width="150" height="150" alt="Bootstrap">
    </svg>
        <h2 class="h2">Time Tracking Insight Tool <small class="d-none">📈</small></h2>
        <p>Unlock the secrets to your productivity with detailed time tracking; identify trends, optimize your workflow, and achieve peak performance effortlessly.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Distraction Blocker <small class="d-none">🦉</small></h2>
        <p>Say goodbye to distractions and hello to laser-sharp focus; block non-essential websites and apps during work sessions, boosting productivity like never before.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Guided Break Reminders <small class="d-none">✨</small></h2>
        <p>Elevate your productivity game with timed breaks and rejuvenating relaxation exercises, ensuring you stay refreshed and motivated throughout the day. </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Seamless Calendar Integration <small class="d-none">🧰</small></h2>
        <p>Sync tasks seamlessly with your calendar, effortlessly scheduling tasks and meetings for a perfectly organized day ahead.</p>
    </div>
</div>
